.plan-section {
  margin-top: 20px;
}

.section-title {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}

.section-subtitle {
  font-size: 14px;
  color: #6c757d;
}

.gift-code-container {
  display: flex;
  align-items: left;
  background: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
}


.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #ced4da;
  padding: 10px 15px;
  border-radius: 6px;
}

.plan-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.progress-circle-container {
  flex-shrink: 0;
}

.progress-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #1a73e8;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}

.plan-title {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}

.plan-description {
  font-size: 14px;
  color: #6c757d;
  margin-top: 5px;
}

.plan-meta {
  font-size: 14px;
  margin-bottom: 5px;
  color: #6c757d;
}
.plan-meta-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}

.plan-meta-item {
  flex: 1;
  font-size: 14px;
  margin-right: 15px;
}

.plan-meta-item strong {
  font-weight: bold;
  display: block;
  color: #333333;
}

.plan-meta-item span {
  font-weight: normal;
  color: #6c757d;
}


.plan-data h6 {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: right;
}

.btn-generate-proxy {
  white-space: nowrap;
  background-color: #f0f8ff;
  border: 1px solid #007bff;
  color: #007bff;
  padding: 8px 15px;
  border-radius: 6px;
}

.btn-generate-proxy:hover {
  background-color: #007bff;
  color: #fff;
}



.gift-code-input {
  border: 1px solid #ced4da;
  border-radius: 6px;
  padding: 7px;
  flex-shrink: 1;
  width: 250px; /* Adjust width as needed */
}

.gift-code-btn {
  white-space: nowrap;
  flex-shrink: 0;
  margin-left: 10px;
}

.gift-help-text {
  font-size: 14px;
  color: #6c757d;
  margin-left: 10px;
}

.gift-help-link {
  color: #007bff;
  margin-left: 5px;
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #ced4da;
  padding: 10px 15px;
  border-radius: 6px;
  margin-left: 20px;
}