.dashboard-layout {
    display: flex; /* Flex container for sidebar and right section */
    min-height: 100vh; /* Full viewport height */
    background-color: #F5F6F9; /* Light background */
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Adjust if Sidebar width changes */
    height: 100vh;
    background-color: #343a40; /* Dark background */
    color: #ffffff;
    overflow-y: auto;
    z-index: 1100;
    padding-top: 60px; /* Match the height of the Navbar */
  }
  
  
  .dashboard-right-section {
    width: 75%;
    margin: 20px 40px;
    display: flex;
    flex-direction: column; /* Stack Navbar and Content vertically */
    flex-grow: 1; /* Take up remaining space */
  }
  
  
  .dashboard-content {
    flex-grow: 1; /* Takes up the remaining vertical space */
    padding: 20px; /* Padding for spacing */
    background-color: #F5F6F9; /* Content background */
    overflow-y: auto; /* Scrollable if content exceeds height */
  }
  