.dashboard-layout {
    display: flex; /* Flex container for sidebar and right section */
    min-height: 100vh; /* Full viewport height */
    background-color: #F5F6F9; /* Light background */
  }
  
  .sidebar {
    width: 25%; /* Fixed width for the sidebar */
    background-color: #343a40; /* Dark sidebar */
    color: white;
    padding: 20px;
    min-height: 100vh; /* Full height */
    position: sticky; /* Sticks during scroll */
    top: 0;
  }
  
  .dashboard-right-section {
    width: 75%;
    margin: 20px 40px;
    display: flex;
    flex-direction: column; /* Stack Navbar and Content vertically */
    flex-grow: 1; /* Take up remaining space */
  }
  
  .navbar-container {
    height: 60px; /* Fixed height for Navbar */
    background-color: #F5F6F9; /* White background for Navbar */
    border-bottom: 1px solid #dee2e6; /* Border for separation */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 20px; */
    position: sticky; /* Sticks during scroll */
    top: 0;
    z-index: 1000; /* Keeps it above content */
  }
  
  .dashboard-content {
    flex-grow: 1; /* Takes up the remaining vertical space */
    padding: 20px; /* Padding for spacing */
    background-color: #F5F6F9; /* Content background */
    overflow-y: auto; /* Scrollable if content exceeds height */
  }
  