.layout-container {
  display: flex;
  min-height: 100vh;
  background-color: #f8f9fa; /* Light gray background */
}

.main-content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-top: 90px; /* Adjust to match the height of the Navbar */
  overflow-y: auto;
}
